[Desktop Entry]
Name=First Setup
Exec=/usr/lib/blendos-first-setup/blendos-first-setup
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
